
assets
data
reports
**/_pycache
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
*.whl
*.dist-info
*.db
*.sqlite3
*.log
*.coverage
*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.orig
*.swp
*.swo
*.idea
*.vscode
*.iml
